html, body {
    background-color: $theme;
    height: 100%;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.alert {
    text-align: center;
    background-color: $light-peach;
    @include text-xxs;
}