$theme: #f7c6d9;
$border-color: #f496ba;

$peach: #fc7792;
$dark-peach: #ff6081; // logo
$extra-dark-peach: #c82b4b;
/* $light-peach: #ffb7c5; */
$light-peach: #ffe0ec;

$freaky-blue: rgb(0, 170, 255);
$light-freaky-blue: rgb(86, 199, 255);