@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@mixin standard-text {
    font-family: Balsamiq Sans;
    color: black;
    font-weight: 400;
    line-height: 120%;
}

@mixin standard-heading {
    @include standard-text();
}

@mixin text-xxs { @include standard-text(); font-size: 1em !important; }
@mixin text-xss { @include standard-text(); font-size: 1.2em !important; }
@mixin text-xsss { @include standard-text(); font-size: 1.3em !important; }
@mixin text-xs { @include standard-text(); font-size: 1.5em !important; }
@mixin text-s { @include standard-text(); font-size: 1.7em !important; }
@mixin text-m { @include standard-text(); font-size: 1.9em !important; }
@mixin text-l { @include standard-text(); font-size: 2.1em !important; }

@mixin title-s { @include standard-heading(); font-size: 2.2em !important; }
@mixin title-m { @include standard-heading(); font-size: 2.7em !important; }
@mixin title-l { @include standard-heading(); font-size: 3.4em !important; }