@use './color' as *;

// 100-900
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    background-color: $bg-light;
    height: 100%;
    margin: 0;
    font-family: Montserrat;
    color: $text-dark;
    font-weight: 400;
    line-height: 1.5;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}