// backgrounds
$bg-light: #eef2f6;

// sections
$dark-blue: #28375e;
$secondary-blue: #aac3eb;
$sidebar-bg: #9fc7e8;

// components
$btn-blue: #3e93d1;
$btn-hover: #347bb5;
$border-theme: #87AAE4;

// texts
$text-dark: #001222;
$text-medium-blue: #435D91;