@use '../../shared' as *;

#products-admin {
    display: flex;
    width: 100%;

    .products-view-all {
        flex: 1;
        padding: 50px;

        .box1 {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            padding-bottom: 30px;

            .search-field {
                gap: 20px;
            }
            
            .btn-search {
                padding: 0 40px;
            }
        }
    
        .products-view {
            display: grid; 
            grid-template-columns: 1.5fr 1fr 1fr 1fr 0.2fr;
            align-self: flex-start;
            width: 100%;
            border-radius: 20px;
            overflow: hidden;
    
            .product-details {
    
                h6 {
                    font-size: 1.5em;
                    background-color: $secondary-blue;
                    margin: 0;
                    padding: 30px 20px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                }
    
                p {
                    font-size: 1.5em;
                    background-color: white;
                    margin: 0;
                    padding: 30px 20px;
                    height: 40px;
                    display: flex;
                    align-items: center;

                    & + p {
                        border-top: 2px solid $secondary-blue;
                    }

                    a {
                        text-decoration: none;
                        color: $dark-blue;
                    }
                }

                .btn-delete {
                    background: none;
                    border: none;
                    cursor: pointer;
                    color: $dark-blue;
                    font-size: 1.2em;
                    padding: 0;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}