@use '../../shared' as *;

#admin-category-details {
    display: flex;
    width: 100%;

    .content {
        padding: 50px;
        flex: 1;

        .top-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                font-size: 2rem;
                font-weight: 600;
            }

            .buttons {
                display: flex;
                gap: 20px;
            }
        }

        .bottom-container {

            .info {
                padding: 25px 0 0;
            }

            h6 {
                font-size: 1.5rem;
                font-weight: 500;
                padding-bottom: 15px;
            }

            p {
                font-size: 1.5rem;
            }

            img {
                width: 400px;
                height: auto;
                object-fit: cover;
                padding: 15px 0 20px;
            }

            .h6-extra {
                padding-bottom: 30px;
            }

            .categories-view {
                display: grid; 
                grid-template-columns: 1.5fr 1fr;
                align-self: flex-start;
                width: 100%;
                border-radius: 20px;
                overflow: hidden;
                
                .category-details {
        
                    h6 {
                        font-size: 1.5em;
                        background-color: $secondary-blue;
                        margin: 0;
                        padding: 30px 20px;
                        height: 25px;
                        display: flex;
                        align-items: center;
                    }
        
                    p {
                        font-size: 1.5em;
                        background-color: white;
                        margin: 0;
                        padding: 30px 20px;
                        height: 40px;
                        display: flex;
                        align-items: center;

                        & + p {
                            border-top: 2px solid $secondary-blue;
                        }

                        a {
                            text-decoration: none;
                            color: $dark-blue;
                        }
                    }
                }
            }
        }
    } 
}