@use '../../shared' as *;

#new-product {
    display: flex;

    .content {
        padding: 50px;
        flex: 1;

        h3 {
            font-size: 2rem;
            font-weight: 600;
        }

        .name, .description, .image-url { width: 70%; }
        .price, .sku { width: 30%; }

        .new-product-form {
            display: grid;
            grid-template-columns: 1fr;

            .form-group {
                label {
                    display: block;
                    padding: 30px 0 20px 0;
                    font-size: 1.5rem;
                    font-weight: 500;
                }
    
                input {
                    width: 100%;
                    height: 60px;
                    outline: none;
                    border-style: solid;
                    border-width: 3px;
                    border-color: $border-theme;
                    border-radius: 12px;
                    font-size: 1.5rem;
                    padding: 10px;
                }
    
                textarea {
                    width: 100%;
                    height: 220px;
                    outline: none;
                    border-style: solid;
                    border-width: 3px;
                    border-color: $border-theme;
                    border-radius: 12px;
                    font-size: 1.5rem;
                    padding: 10px;
                }
            }

            .checkbox {
                padding: 30px 0 30px 0;
                display: flex;
                align-items: center;
                gap: 8px;
                position: relative;
    
                label {
                    font-size: 1.5rem;
                    font-weight: 500;
                }
    
                input {
                    width: 25px;
                    height: 25px;
                    position: relative;
                    bottom: 3px;
                    border: 3px solid $border-theme;
    
                    &:checked {
                        background-color: $border-theme;
                    }
                }
            }
        }
    }
}