@use '../../shared' as *;

#new-category {
    display: flex;
    width: 100%;

    .content {
        padding: 50px;
        flex: 1;

        h3 {
            font-size: 2rem;
            font-weight: 600;
        }

        .name, .image-url { width: 70%; }

        .new-category-form {
            display: grid;
            grid-template-columns: 1fr;

            .form-group {
                label {
                    display: block;
                    padding: 30px 0 20px 0;
                    font-size: 1.5rem;
                    font-weight: 500;
                }
    
                input {
                    width: 100%;
                    height: 60px;
                    outline: none;
                    border-style: solid;
                    border-width: 3px;
                    border-color: $border-theme;
                    border-radius: 12px;
                    font-size: 1.5rem;
                    padding: 10px;
                }
            }

            .products-container {
                display: grid;
                grid-template-columns: 1fr;
                padding: 40px 0 30px;
                width: 70%;
    
                input {
                    width: 100%;
                    height: 60px;
                    outline: none;
                    border-style: solid;
                    border-width: 3px;
                    border-color: $border-theme;
                    border-radius: 12px;
                }

                .sku {
                    padding: 40px 0;
                }

                .products-fieldset {
                    border: 3px solid $border-theme;
                    border-radius: 12px;
                    padding: 20px 40px 60px 40px;
                    margin: 20px 0;
                    position: relative;

                    h3 {
                        position: absolute;
                        top: 0;
                        transform: translateY(-50%);
                        background-color: $bg-light;
                        font-size: 1.3rem;
                        font-weight: 500;
                        display: inline-block;
                        padding: 0 5px;
                        margin-left: -15px;
                    }

                    .categories-view {
                        display: grid; 
                        grid-template-columns: 1fr 1fr 0.1fr;
                        align-self: flex-start;
                        width: 100%;
                        border-radius: 20px;
                        overflow: hidden;
                
                        .category-details {
                
                            h6 {
                                font-size: 1.5em;
                                background-color: $secondary-blue;
                                margin: 0;
                                padding: 30px 20px;
                                height: 25px;
                                display: flex;
                                align-items: center;
                            }

                            button {
                                color: $dark-blue;
                                pointer-events: none;
                                text-decoration: none;
                                border: none;
                            }

                            i {
                                pointer-events: auto;
                            }
                
                            p, button {
                                font-size: 1.5em;
                                background-color: white;
                                margin: 0;
                                padding: 30px 20px;
                                height: 40px;
                                display: flex;
                                align-items: center;
                                width: 100%;

                                & + p,
                                & + button {
                                    border-top: 2px solid $secondary-blue;
                                }

                                a {
                                    color: $dark-blue;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }               
            }
        }
    }
}