@use '../../shared' as *;

#new-product {
    display: flex;
    width: 100%;

    .content {
        padding: 50px;
        flex: 1;

        h3 {
            font-size: 2rem;
            font-weight: 600;
        }

        .description, .image-url, .brand { width: 70%; }
        .name, .publication-date { width: 35%; }
        .price, .sku { width: 20%; }

        .new-product-form {
            display: grid;
            grid-template-columns: 1fr;

            .form-group {
                label {
                    display: block;
                    padding: 30px 0 20px 0;
                    font-size: 1.5rem;
                    font-weight: 500;
                }
    
                input {
                    width: 100%;
                    height: 60px;
                    outline: none;
                    border-style: solid;
                    border-width: 3px;
                    border-color: $border-theme;
                    border-radius: 12px;
                    font-size: 1.5rem;
                    padding: 10px;
                }
    
                textarea {
                    width: 100%;
                    height: 220px;
                    outline: none;
                    border-style: solid;
                    border-width: 3px;
                    border-color: $border-theme;
                    border-radius: 12px;
                    font-size: 1.5rem;
                    padding: 10px;
                }

                .date-input {
                    display: flex;
                    gap: 10px;

                    input[type="datetime-local"]::-webkit-calendar-picker-indicator {
                        opacity: 0;
                        cursor: pointer;
                        position: absolute;
                        right: 0;
                      }

                    .calendar-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        i {
                            font-size: 40px;
                        }
                    }
                }
            }

            .checkbox {
                padding: 30px 0 30px 0;
                display: flex;
                align-items: center;
                gap: 8px;
                position: relative;
    
                label {
                    font-size: 1.5rem;
                    font-weight: 500;
                }
    
                input[type="checkbox"] {
                    appearance: none;
                    width: 25px;
                    height: 25px;
                    position: relative;
                    border: 3px solid $border-theme;
                    border-radius: 4px;
                    background-color: white;
    
                    &:checked {
                        background-color: $border-theme;
                    }

                    &:checked::after {
                        content: '';
                        position: absolute;
                        left: 6px;
                        top: 2px;
                        width: 7px;
                        height: 12px;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}