@import './sections/header';
@import './sections/footer';
@import './sections/showcase';
@import './sections/popular-products';
@import './sections/product-details';
@import './sections/checkout';
/* @import './sections/header-admin'; */
/* @import './sections/admin-products';
@import './sections/new-product'; */
@import './sections/search-results';
@import './sections/basket';
@import './sections/confirmation';