@use '../core' as *;

.btn-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: $btn-blue;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    padding: 0px 20px;
    font-size: 1.5rem;
    font-weight: 500;
    height: 60px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        background-color: $btn-hover;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    }
}