@use '../core' as *;

.product-grid {
    display: grid;
    gap: 0.5rem 2rem;

    @include sm { grid-template-columns: repeat(2, 1fr); }
    @include lg { grid-template-columns: repeat(4, 1fr); }

    a { text-decoration: none; }

    .product-card {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.02);
        }

        &-image {
            position: relative;
            aspect-ratio: 3 / 4;
            font-size: clamp(10px, 1.1cqw, 16px);

            img {
                display: block;
                width: 100%;
            }

            .news-tag {
                position: absolute;
                top: 0.9em;
                left: 0.9em;
                height: 3.3em;
                width: 6.8em;
                border-radius: 0.6em;
                background-color: $dark-blue;
                
                p {
                    color: white;
                    margin-left: 1.3em;
                    margin-top: 0.7em; 
                    font-size: 1.2em;
                }
            }

            .bookmark-tag {
                position: absolute;
                bottom: 0.2em;
                right: 0.4em;
                font-size: 3em;
                border: none;
                background-color: transparent; 
                color: $logo-blue;
                cursor: pointer;

                transition: transform 0.2s ease, color 0.2s ease;

                &:hover {
                    color: $logo-blue;
                    transform: scale(1.1);
                }

                &:hover i {
                    font-family: "Font Awesome 6 Free";
                    font-weight: 900; // switches to solid
                }

                &.is-active {
                    color: $logo-blue;

                    i {
                        font-weight: 900;
                    }
                }
            }
        }

        &-footer {

            .upper-text {
                display: flex;
                justify-content: space-between;
                font-size: 1em;
                padding-top: 20px
            }

            h4 { color: $text-dark; font-size: 1.5rem }

            p {
                font-size: 1rem;
                color: $text-dark;
                padding-top: 5px;
            }
        }
    }
}