@use '../core' as *;

.search-field {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 700px;

    #search-icon {
        position: absolute;
        left: 15px;
        top: 15px;
        font-size: 2rem;
        color: $dark-blue;
    }

    #search-bar {
        padding-left: 55px;
        border-radius: 20px;
        border-style: solid;
        border-width: 3px;
        border-color: $border-theme;
        height: 60px;
        width: 100%;
        padding-top: 5px;
        outline: none;
        font-size: 1.5rem;
        background: transparent;

        &::placeholder {
            color: $text-medium-blue;
        }
    }
}