@use '../core' as *;

.spots {
    display: none;
    padding: 25px;
    gap: 50px;
    height: 100%;

    @include lg { display: flex; padding: 25px 50px; }

    .spot {
        position: relative;
        text-decoration: none;
        width: 100%;
        
        img {
            display: block;
            width: 100%;
            height: auto;
        }

        h1 {
            margin: 0;
            position: absolute;
            color: black;
            font-size: 2rem;
            font-weight: 700;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
            background: rgba(255, 255, 255, 0.6);
        }
    }
}