@use '../../shared' as *;

#basket {
  padding: 25px;

  @include lg { padding: 25px 50px; }

  .basket-details {

    h1 {
      text-align: center;
      padding-bottom: 30px;
    }

    .basket-details-mobile-view {
      display: grid;
      gap: 2px;

      @include sm {
        display: none;
      }

      .basket-single {
        padding: 25px;
        background-color: $secondary-blue;
        border-radius: 0;

          &:only-child {
            border-radius: 20px;
          }

          &:first-child:not(:only-child) {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
          }

          &:last-child:not(:only-child) {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
          }

        .total {
          display: flex;
          justify-content: space-between;
          padding-bottom: 5px;

          h6 {
            font-size: 1.5rem;

            a { text-decoration: none; color: $text-dark; }
          }
        }

        p {
          margin: 0;
          font-size: 1.2rem;
          color: $text-dark;
          padding-top: 15px;
        }

        .amount {
          display: block;
          font-size: 1.5em;
          margin: 0;
          height: 53px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px; 

          .btn-delete {
            background: none;
            border: none;
            cursor: pointer;
            color: $dark-blue;
            font-size: 1.5em;

            display: flex;
            align-items: center;
            justify-content: center;
          }

          .form-select {
            width: 70px;
          }
        }
      }
    }

    .basket-details-regular {
      display: none;

      @include sm {
        display: grid; 
        grid-template-columns: 1.5fr 1fr 1fr 1fr 0.2fr;
        align-self: flex-start;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
      }

      .basket-empty-row {
        grid-column: 1 / -1; // span ALL columns
        background: white;
        padding: 40px 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.5rem;
        color: #666;
      }

      .product-details {
    
        h6 {
            font-size: 1.5em;
            background-color: $secondary-blue;
            margin: 0;
            padding: 30px 20px;
            height: 25px;
            display: flex;
            align-items: center;
        }

        p {
            font-size: 1.5em;
            background-color: white;
            margin: 0;
            padding: 30px 20px;
            height: 40px;
            display: flex;
            align-items: center;

            & + p {
                border-top: 2px solid $secondary-blue;
            }

            a {
                text-decoration: none;
                color: $dark-blue;
            }
        }

        .btn-delete {
            background: none;
            border: none;
            cursor: pointer;
            color: $dark-blue;
            font-size: 1.2em;
            padding-left: 15px;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-select {
          width: 70px;
        }
      }
    }

    .button-submit {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      padding: 30px 0 30px 0;

      @include sm {
        padding: 40px 0 30px 0;
      }

      .basket-warning {
        font-size: 1.5rem;
        color: red;
        text-align: center;
      }

      .btn-theme {
        width: 100%;

        @include sm { width: 250px; }
      }
    }
  }
}