@use '../../shared' as *;

#checkout {
  padding: 25px;

  @include lg { padding: 25px 50px; }

  .checkout-details {

    h1 {
      text-align: center;
      padding-bottom: 30px;
      font-size: 2.5rem;
    }

    .checkout-details-mobile-view {
      display: grid;
      gap: 2px;

      @include sm {
        display: none;
      }

      .checkout-single {
        padding: 25px;
        background-color: $secondary-blue;
        border-radius: 0;

          &:only-child {
            border-radius: 20px;
          }

          &:first-child:not(:only-child) {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
          }

          &:last-child:not(:only-child) {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
          }

        .total {
          display: flex;
          justify-content: space-between;
          padding-bottom: 5px;

          h6 {
            font-size: 1.5rem;
            
            a { text-decoration: none; color: $dark-blue; }
          }
        }

        p {
          margin: 0;
          font-size: 1.2rem;
          color: $text-dark;
          padding-top: 15px;
        }

        .amount {
          display: block;
          font-size: 1.5em;
          margin: 0;
          height: 53px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px; 

          .btn-delete {
            background: none;
            border: none;
            cursor: pointer;
            color: $dark-blue;
            font-size: 1.5em;

            display: flex;
            align-items: center;
            justify-content: center;
          }

          .form-select {
            width: 70px;
          }
        }
      }
    }

    .checkout-details-regular {
      display: none;

      @include sm {
        display: grid; 
        grid-template-columns: 1.5fr 1fr 1fr 1fr 0.2fr;
        align-self: flex-start;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
      }

      .product-details {
    
        h6 {
          font-size: 1.5em;
          background-color: $secondary-blue;
          margin: 0;
          padding: 30px 20px;
          height: 25px;
          display: flex;
          align-items: center;
        }

        p {
          font-size: 1.5em;
          background-color: white;
          margin: 0;
          padding: 30px 20px;
          height: 40px;
          display: flex;
          align-items: center;

          & + p {
            border-top: 2px solid $secondary-blue;
          }

          a {
            text-decoration: none;
            color: $dark-blue;
          }
        }

        .btn-delete {
          background: none;
          border: none;
          cursor: pointer;
          color: $dark-blue;
          font-size: 1.2em;
          padding-left: 15px;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        .form-select {
          width: 70px;
        }
      }
    }

    .button-submit {
      display: flex;
      justify-content: center;
      padding: 30px 0 30px 0;

      @include sm {
        padding: 40px 0 30px 0;
      }

      .btn-theme {
        width: 100%;

        @include sm {
          width: auto;
        }
      }
    }
  }

  .customer-details {

    h1 {
      font-size: 2rem;
      text-align: center;
      padding-top: 60px;

      @include sm { text-align: start; }
    }

    form {

      .form1 {
        display: grid;
        grid-template-columns: 1fr;

        @include sm {
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }

        label {
          display: block;
          font-size: 1.5rem;
          padding: 30px 0 20px 0;
          font-weight: 500;
        }

        input {
          width: 100%;
          height: 60px;
          font-size: 1.5rem;
          outline: none;
          border-style: solid;
          border-width: 3px;
          border-color: $border-theme;
          border-radius: 12px;
          font-size: 1.5rem;
          padding: 10px;
        }
      }

      .form2 {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 40px;

        label {
          display: block;
          font-size: 1.5rem;
          padding: 30px 0 20px 0;
          font-weight: 500;
        }

        input {
          width: 100%;
          height: 60px;
          font-size: 1.5rem;
          outline: none;
          border-style: solid;
          border-width: 3px;
          border-color: $border-theme;
          border-radius: 12px;
          padding: 10px;
        }

        .postal { 
          input { width: 50%; }

          @include sm { input { width: 25%; } }
        }

        .city {
          @include sm { input { width: 50%; } }
        }

        .address-fieldset {
          border: 3px solid $border-theme;
          border-radius: 10px;
          padding: 10px 25px 60px 25px;
          margin: 20px 0;
          position: relative;

          @include sm {
            padding: 20px 30px 70px 30px;
          }

          h3 {
            font-size: 1.5rem;
            position: absolute;
            top: 0;
            transform: translateY(-50%);
            background-color: $bg-light;
            display: inline-block;
            padding: 0 4px;
            margin-left: -5px;

            @include sm {
              margin-left: -10px;
            }
          }
        }
      }
    }

    .form-check {
      padding: 30px 0 30px 0;
      display: flex;
      align-items: center;
      gap: 8px;
      position: relative;

      label {
        font-size: 1.5rem;
        font-weight: 500;
      }

      input[type="checkbox"] {
        appearance: none;
        width: 25px;
        height: 25px;
        position: relative;
        border: 3px solid $border-theme;
        border-radius: 4px;
        background-color: white;

        &:checked {
          background-color: $border-theme;
        }

        &:checked::after {
          content: '';
          position: absolute;
          left: 6px;
          top: 2px;
          width: 7px;
          height: 12px;
          border: solid white;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }
      }
    }

    .button-box {
      display: flex;
      justify-content: center;
      padding: 10px 0 10px 0;

      @include sm {
        padding: 10px 0 30px 0;
      }

      .btn-theme {
        width: 100%;

        @include sm { width: 250px; }
      }
    }
  }
}