@use '../../shared' as *;

#confirmation {
  padding: 25px;

  @include lg { padding: 25px 50px; }

  .parent {
    text-align: center;

    @include sm { padding: 60px 50px; }
    @include lg { padding: 60px 80px; }

    h1 {
      font-size: 2.5rem;
      padding-bottom: 50px;

      @include sm { padding-bottom: 70px; }
      @include lg { padding-bottom: 90px; }
    }

    h6 {
      font-size: 2rem;
    }
  }

  .checkout-details {
    padding: 30px 25px 70px;

    @include sm { padding: 0 25px 70px; }

    .checkout-details-mobile-view {
      display: grid;
      gap: 2px;

      @include sm {
        display: none;
      }

      .checkout-single {
        padding: 25px;
        background-color: $secondary-blue;
        border-radius: 0;

          &:only-child {
            border-radius: 20px;
          }

          &:first-child:not(:only-child) {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
          }

          &:last-child:not(:only-child) {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
          }

        .total {
          display: flex;
          justify-content: space-between;
          padding-bottom: 5px;

          h6 {
            font-size: 1.5rem;
          }
        }

        p {
          margin: 0;
          font-size: 1.2rem;
          color: $text-dark;
          padding-top: 15px;
        }
      }
    }

    .checkout-details-regular {
      display: none;

      @include sm {
        display: grid; 
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
        align-self: flex-start;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
      }

      .product-details {
    
        h6 {
          font-size: 1.5em;
          background-color: $secondary-blue;
          margin: 0;
          padding: 30px 20px;
          height: 25px;
          display: flex;
          align-items: center;
        }

        p {
          font-size: 1.5em;
          background-color: white;
          margin: 0;
          padding: 30px 20px;
          height: 40px;
          display: flex;
          align-items: center;

          & + p {
            border-top: 2px solid $secondary-blue;
          }

          a {
            text-decoration: none;
            color: $dark-blue;
          }
        }

        .btn-delete {
          background: none;
          border: none;
          cursor: pointer;
          color: $dark-blue;
          font-size: 1.2em;
          padding-left: 15px;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        .form-select {
          width: 70px;
        }
      }
    }
  }
}