@use '../../shared' as *;

.hero {
    text-decoration: none;
    padding: 25px;
    min-height: clamp(500px, 80vh, 600px);

    @include lg { 
        display: flex; 
        justify-content: center;
        flex-direction: row-reverse; 
        gap: clamp(20px, 6vw, 120px);
        padding-bottom: 20px;
        align-items: center;
        min-height: clamp(500px, 80vh, 650px);
        margin-bottom: -100px;
    }
    @include xl { min-height: clamp(500px, 80vh, 600px); margin-bottom: 0; }
    @media (min-width: 2000px) { min-height: clamp(500px, 80vh, 900px); }

    .hero-image {
        height: auto;

        @include lg {
            max-height: 100%;
            max-width: 45%;
            height: auto;
            object-fit: contain;
            margin-top: -150px; 
        }
        @media (min-width: 1600px) { max-width: 800px; }
        @media (min-width: 2000px) { max-width: 1000px; }
    }

    .texts {
        display: flex;
        flex-direction: column;
        text-align: center;
        
        @include lg {
            text-align: left;
            margin-bottom: 100px;
        }

        h6 {
            display: none;

            @include lg { display: block; font-size: 1.2rem; color: $logo-blue; }
        }

        h1 {
            font-size: 2.5rem;
            font-weight: 800;
            margin-top: 30px;
            color: $dark-blue;

            @include sm { font-size: 3rem; }
            @include lg {
                font-size: 3.5rem;
                white-space: pre-line;
            }
            @include xl { font-size: 5rem; }
        }

        p {
            font-size: 1.5rem;
            color: $text-dark;
            padding-top: 30px;

            @include sm { width: 100%; }
            @include xl { max-width: 800px; font-size: 2rem; }
        }

        .shop-news {
            display: none;

            @include lg { 
                display: flex; 
                margin-top: 50px; 
                gap: 20px; 

                button { width: 250px;  }

                a {
                    text-decoration: none;
                    font-size: 1.5rem;
                    color: $logo-blue;
                }
            }
            @include xl {
                display: flex;
                align-items: center;
            }
        }
    }
}