@use '../../shared' as *;

#product-details {
    padding: 25px;

    @include lg { padding: 25px 50px; }

    .parent {

        @include sm {
            display: grid;
            grid-template-columns: 40% auto;
            gap: 30px;
        }

        @include lg { gap: 40px; }

        .details-card-image {
            position: relative;
            aspect-ratio: 3 / 4;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .bookmark-tag {
                position: absolute;
                bottom: 0.2em;
                right: 0.4em;
                font-size: 3em;
                border: none;
                background-color: transparent; 
                color: $logo-blue;
                cursor: pointer;

                transition: transform 0.2s ease, color 0.2s ease;

                &:hover {
                    color: $logo-blue;
                    transform: scale(1.1);
                }

                &:hover i {
                    font-family: "Font Awesome 6 Free";
                    font-weight: 900; // switches to solid
                }

                &.is-active {
                    color: $logo-blue;

                    i {
                        font-weight: 900;
                    }
                }
            }
        }

        .info {
            padding-top: 30px;

            @include sm { padding: 0; }

            h2 {
                font-size: 2rem;
                color: $text-dark;

                @include sm { font-size: 2rem; }
                @include lg { font-size: 2.5rem; }
            }

            h6 {
                font-size: 1.5rem; 
                padding-top: 5px;
            }

            .text-box {
                font-size: 1.5rem;
                padding-top: 15px;

                @include lg { padding-right: 40%; }
            }

            .price {
                font-size: 1.5rem;
                padding-top: 20px;
                padding-bottom: 20px;

                @include sm { padding-bottom: 10px; }
            }

            .btn-theme { 
                width: 100%;

                @include sm { width: auto; }
            }
        }
    }

    .carousel {
        width: 100%;

        h1 {
            display: none;
            font-size: 2rem;
            text-align: center;
            padding-top: 80px;

            @include sm { display: grid; }
        }
    }

    .slideshow {
        display: none;
        padding: 30px 30px 0 30px;

        @include sm { display: flex; }

        .carousel-item {

            .row {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                padding: 0.5rem 0.5rem;
                gap: 10px;
            }
        }

        .col-custom {

            a { text-decoration: none; }
        }

        .product-card {
            transition: transform 0.2s ease-in-out;

            &:hover {
                transform: scale(1.02);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 3 / 4;
            }

            &-footer {

                .upper-text {
                    display: flex;
                    justify-content: space-between;
                    font-size: 1rem;
                    padding-top: 20px;
                    gap: 5%;
                }

                .price {
                    text-align: right;
                }
    
                h4 {
                    color: $text-dark;
                    word-break: break-word;
                    font-size: 0.5rem;
                    font-size: 1rem;

                    @include lg { font-size: 1.5rem; }
                }
    
                p {
                    font-size: 1rem;
                    color: $text-dark;
                    padding-top: 5px;
                }
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            width: auto;
            height: 2rem;
            top: 40%;
            transform: translateY(-50%);
            z-index: 10;

            &.carousel-control-prev {
                left: -2.5rem;
                transform: scale(1.4);
                filter: invert(32%) sepia(23%) saturate(2800%) hue-rotate(200deg) brightness(90%) contrast(95%);
            }

            &.carousel-control-next {
                right: -2.5rem;
                transform: scale(1.4);
                filter: invert(32%) sepia(23%) saturate(2800%) hue-rotate(200deg) brightness(90%) contrast(95%);
            }
        }
    }
}