@use '../../shared' as *;

#search-results {
    padding: 25px;

    @include lg { padding: 25px 50px; }

    h1 {
        text-align: center;
        padding: 30px 0 30px 0;

        @include sm { padding: 40px 0 50px 0; }
    }
}