#admin-products {
    display: flex;

    .products-view-all {
        flex: 1;
        padding: 30px;

        .product-text {
            padding-bottom: 15px;
            display: flex;
            justify-content: space-between;
            
            h3 {
                @include text-xs;
                font-weight: 700;
            }

            .btn-soft-glow {
                @include text-xxs;
                width: 120px;
                height: 45px;
                text-decoration: none;
                margin-top: -10px;
                white-space: nowrap;
            }
        }
    
        .products-view {
            display: grid; 
            grid-template-columns: 2fr 1fr 0.5fr 0.5fr;
            align-self: flex-start;
            width: 100%;
    
            .product-details {
                border: 1px solid black;
                background-color: $peach;

                .spacer-row {
                    height: 10px !important;
                    padding: 0 !important;
                }
    
                h6 {
                    font-size: 1.3em;
                    background-color: $extra-dark-peach;
                    color: white;
                    margin: 0;
                    padding-left: 5px;
                    @include text-xsss;
                    color: white;
                }
    
                .p1,
                .p2 {
                font-size: 1.3em;
                height: 47px;
                margin: 0;
                display: flex;
                align-items: center;
                padding-left: 5px;
                @include text-xsss;
                }

                .p1 {
                background-color: $peach;
                }

                .p2 {
                background-color: $light-peach;
                }

                .icon1,
                .icon2 {
                font-size: 1.3em;
                height: 47px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }

                .icon1 {
                background-color: $peach;
                }

                .icon2 {
                background-color: $light-peach;
                }
                
                &:first-child,
                &:nth-child(2),
                &:nth-child(3) 
                { border-right: none; }
            }
        }
    }
}