#basket {
  padding: 25px;

  .basket-details {
    h1 {
      @include title-m;
      text-align: center;
      padding-bottom: 30px;
    }

    .basket-details-mobile-view {
      display: grid;
      gap: 2px;

      @include sm {
        display: none;
      }

      .basket-single {
        border: 1px solid black;
        padding: 25px;
        background-color: $peach;

        .total {
          display: flex;
          justify-content: space-between;
          padding-bottom: 5px;

          h6 {
            @include text-s;
          }
        }

        p {
          margin: 0;
          @include text-xs;
          color: rgba(0, 0, 0, 0.69);
          padding-top: 15px;
        }

        .amount {
          display: block;
          font-size: 1.3em;
          margin: 0;
          height: 53px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20%;

          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }

    .basket-details-regular {
      display: none;
      padding: 20px;

      @include sm {
        display: grid;
        grid-template-columns: 2fr 0.8fr 1fr 1fr;
      }

      .product-details {
        border: 1px solid black;

        .spacer-row {
          height: 10px;
          padding: 0 !important;
        }

        h6 {
          font-size: 1.3em;
          background-color: $extra-dark-peach;
          color: white;
          margin: 0;
          padding-left: 5px;
          @include text-xsss;
        }

        .p1,
        .p2 {
          font-size: 1.3em;
          margin: 0;
          padding: 11px 10px 11px 5px;
          @include text-xsss;
        }

        .p1 {
          background-color: $peach;
        }

        .p2 {
          background-color: $light-peach;
        }

        .amount1,
        .amount2 {
          font-size: 1.3em;
          margin: 0;
          height: 47px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10%;
          padding: 0 10% 0 10%;

          a {
            text-decoration: none;
            color: black;
          }
        }

        .amount1 {
          background-color: $peach;
        }

        .amount2 {
          background-color: $light-peach;
        }

        &:first-child,
        &:nth-child(2),
        &:nth-child(3) {
          border-right: none;
        }
      }
    }

    .button-submit {
      display: flex;
      justify-content: center;
      padding: 60px 0 30px 0;

      @include sm {
        padding: 40px 0 30px 0;
      }

      .btn-soft-glow {
        @include text-s;
        width: 100%;
        height: 65px;

        @include sm {
          width: 240px;
          @include text-xs;
        }
      }
    }
  }
}