#checkout {
    padding: 25px;

    .checkout-details {

        h1 { 
            @include title-m;
            text-align: center;
            padding-bottom: 30px;
        }

        .checkout-details-mobile-view {
            display: grid;
            gap: 2px;

            @include sm { display: none; }

            .checkout-single {
                border: 1px solid black;
                padding: 25px;
                background-color: $peach;

                .total {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 5px;

                    h6 { @include text-s; }
                }

                p {
                    margin: 0;
                    @include text-xs;
                    color: rgba(0, 0, 0, 0.69);
                }

                .amount {
                    display: block;

                    a { text-decoration: none; color: black; }

                    font-size: 1.3em;
                    margin: 0;
                    height: 53px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20%;
                }
            }
        }

        .checkout-details-regular {
            display: none;
            padding: 20px;

            @include sm { display: grid; grid-template-columns: 2fr 0.8fr 1fr 1fr; }

            .product-details {
                border: 1px solid black;
                background-color: $peach;

                .spacer-row {
                    height: 10px;
                    padding: 0 !important;
                }

                h6 {
                    font-size: 1.3em;
                    background-color: $extra-dark-peach;
                    color: white;
                    margin: 0;
                    padding-left: 5px;
                    @include text-xsss;
                    color: white;
                }

                .p1, 
                .p2 {
                    font-size: 1.3em;
                    margin: 0;
                    padding:  11px 10px 11px 5px;
                    @include text-xsss;
                }

                .p1 {
                    background-color: $peach;
                }

                .p2 {
                    background-color: $light-peach;
                }
                
                &:first-child,
                &:nth-child(2),
                &:nth-child(3) 
                { border-right: none; }
            }
        }
    }

    .customer-details {

        @include sm { padding: 0 20px 0 20px; }

        h1 {
            @include title-s;
            text-align: center;
            padding-top: 60px;

            @include sm { text-align: start; }
        }

        form {

            .form1 {
                display: grid;
                grid-template-columns: 1fr;

                @include sm {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 20px;
                }

                label {
                    display: block;
                    @include text-s;
                    padding: 30px 0 15px 0;
    
                    @include sm {
                        @include text-xsss;
                        padding: 30px 0 20px 0;
                    }
                }
    
                input {
                    width: 100%;
                    height: 40px;
                    @include text-s;
                    outline: none;
                    border-style: solid;
                    border-width: 3px;
                    border-color: $border-color;
                    border-radius: 5px;
    
                    @include sm {
                        height: 35px;
                        @include text-xs;
                    }
                }
            }

            .form2 {
                display: grid;
                grid-template-columns: 1fr;
                padding-top: 40px;

                label {
                    display: block;
                    @include text-s;
                    padding: 30px 0 15px 0;
    
                    @include sm {
                        @include text-xsss;
                        padding: 30px 0 25px 0;
                    }
                }
    
                input {
                    width: 100%;
                    height: 40px;
                    @include text-s;
                    outline: none;
                    border-style: solid;
                    border-width: 3px;
                    border-color: $border-color;
                    border-radius: 5px;
    
                    @include sm {
                        height: 35px;
                        @include text-xs;
                    }
                }

                .postal { 
                    input { width: 50%; }

                    @include sm { input { width: 25%; } }
                 }

                 .city {

                    @include sm { input { width: 50%; } }
                 }

                .address-fieldset {
                    border: 3px solid $border-color;
                    border-radius: 10px;
                    padding: 10px 25px 60px 25px;
                    margin: 20px 0;
                    position: relative;

                    @include sm {
                        padding: 20px 30px 70px 30px;
                    }

                    h3 {
                        @include text-s;
                        position: absolute;
                        top: 0;
                        transform: translateY(-50%);
                        background-color: $theme;
                        display: inline-block;
                        padding: 0 4px;
                        margin-left: -5px;

                        @include sm {
                            @include text-xsss;
                            margin-left: -10px;
                        }
                    }
                }
            }
        }

        .form-check {
            padding: 25px 30px 30px 30px;
            position: relative;

            @include sm { padding: 20px 30px 20px 30px; }

            label {
                @include text-s;
                padding-left: 5px;

                @include sm { @include text-xsss; }
            }

            input {
                width: 20px;
                height: 20px;

                @include sm { position: relative; bottom: 3px; }

                &:checked {
                    background-color: $freaky-blue;
                }
            }
        }

        .button-box {
            display: flex;
            justify-content: center;
            padding: 10px 0 10px 0;

            @include sm {
                padding: 10px 0 30px 0;
            }  
             
            .btn-soft-glow {
                @include text-l;
                height: 70px;
                width: 280px;
    
                @include sm {
                    height: 50px;
                    width: 170px;
                    @include text-m;
                }
            }
        }
    }
}