#confirmation {

    .parent {
        padding: 20px 25px;

        @include sm { padding: 60px 50px; }
        @include lg { padding: 60px 80px; }

        h1 {
            @include title-m;
            text-align: center;
            padding-bottom: 50px;

            @include sm { padding-bottom: 70px; }
            @include lg { padding-bottom: 90px; }
        }

        h6 {
            @include text-m;
        }
    }

    .checkout-details {
        padding: 30px 25px 70px;

        @include sm { padding: 0 30px 70px; }

        .checkout-details-mobile-view {
            display: grid;
            gap: 2px;

            @include sm { display: none; }

            .checkout-single {
                border: 1px solid black;
                padding: 25px;
                background-color: $peach;

                .total {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 5px;

                    h6 { @include text-s; }
                }

                p {
                    margin: 0;
                    @include text-xs;
                    color: rgba(0, 0, 0, 0.69);
                }

                .amount {
                    display: block;

                    a { text-decoration: none; color: black; }

                    font-size: 1.3em;
                    margin: 0;
                    height: 53px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20%;
                }
            }
        }

        .checkout-details-regular {
            display: none;
            padding: 20px;

            @include sm { display: grid; grid-template-columns: 2fr 0.8fr 1fr 1fr; }

            .product-details {
                border: 1px solid black;
                background-color: $peach;

                .spacer-row {
                    height: 10px;
                    padding: 0 !important;
                }

                h6 {
                    font-size: 1.3em;
                    background-color: $extra-dark-peach;
                    color: white;
                    margin: 0;
                    padding-left: 5px;
                    @include text-xsss;
                    color: white;
                }

                .p1,
                .p2 {
                    font-size: 1.3em;
                    margin: 0;
                    padding:  11px 10px 11px 5px;
                    @include text-xsss;
                }

                .p1 {
                    background-color: $peach;
                }

                .p2 {
                    background-color: $light-peach;
                }
                
                &:first-child,
                &:nth-child(2),
                &:nth-child(3) 
                { border-right: none; }
            }
        }
    }
}