#new-product {
    display: flex;

    .content {
        padding: 30px 30px 40px 30px;
        flex: 1;

        h3 {
            @include text-xs;
            font-weight: 700;
        }

        .file-upload-container {
            display: flex;
            align-items: center;
            gap: 10px;
        
            #image-file-name {
                max-width: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
            }
        }

        .sku, .price { width: 20%; }
        .name, .publication-date { width: 35%; }
        .description, .brand { width: 70%; }

        .new-product-form {
            display: grid;
            grid-template-columns: 1fr;

            .form-group {
                label {
                    display: block;
                    @include text-xsss;
                    padding: 30px 0 20px 0;
                }
    
                input {
                    width: 100%;
                    height: 35px;
                    @include text-xs;
                    outline: none;
                    border-style: solid;
                    border-width: 3px;
                    border-color: $border-color;
                    border-radius: 5px;
                }
    
                textarea {
                    width: 100%;
                    height: 220px;
                    @include text-xs;
                    outline: none;
                    border-style: solid;
                    border-width: 3px;
                    border-color: $border-color;
                    border-radius: 5px;
                }

                .date-input {
                    display: flex;
                    gap: 5px;

                    input[type="datetime-local"]::-webkit-calendar-picker-indicator {
                        opacity: 0;
                        cursor: pointer;
                        position: absolute;
                        right: 0;
                      }

                    .calendar-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        i {
                            font-size: 30px;
                        }
                    }
                }
            }

            .checkboxes {
                padding: 30px 0 30px 0;

                p {
                    @include text-xsss;
                    padding-bottom: 5px;
                }

                .checkbox {
                    padding-bottom: 10px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    position: relative;
        
                    label {
                        @include text-xsss;
                    }
        
                    input {
                        width: 20px;
                        height: 20px;
                        position: relative;
                        bottom: 3px;
        
                        &:checked {
                            background-color: $freaky-blue;
                        }
                    }
                }
            }

            .btn-soft-glow {
                @include text-xss;
                height: 50px;
            }
        }
    }
}