#search-results {
    padding: 0 30px 40px;

    h1 {
        @include title-m;
        text-align: center;
        padding: 30px 0 30px 0;

        @include sm { @include title-s; padding: 40px 0 50px 0; }
    }
}