@use '../../shared' as *;

#admin-header {
    background-color: $dark-blue;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 50px 30px;

    h3 {
        color: white;
        margin: 0;
        font-size: 2rem;
        font-weight: 600;
        display: flex;
        align-items: center;

        i {
            font-size: 1.5rem;
            margin-right: 1rem;
        }
    }
}