.hero {
    text-decoration: none;
    text-align: center;
    padding: 20px;
    background: white;

    @include sm { padding-bottom: 50px; }
    @include lg { display: flex; flex-direction: row-reverse; padding-bottom: 20px; }

    .hero-image {
        width: 100%;
        height: auto;

        @include sm {
            max-width: 1150px;
            max-height: 670px;
        }
    }

    .texts {

        h1 {
            @include title-m;
            margin-top: 30px;
        }

        p {
            @include text-xs;
            margin-top: -20px;

            @include sm { margin-top: 20px; }
            @include lg { @include text-xs; padding-right: 40px; padding-left: 40px; }
        }
    }
}