.side-menu {
    display: flex;
    min-height: 100vh;
    width: 13rem;
    background-color: $peach;

    .links {
        padding: 30px;
    }

    a {
        @include text-xss;
        display: block;
        text-decoration: none;
        color: black;
        font-weight: 700;
    }
}